@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

:root {
  --greyBG: #D2D1D1;
  --green: #35A700;
  --yellow: #DA9E03;
  --red: #DA0303;
  --blue: #006BA7;
  --white: #FFF;
}

.title {
  font-size: 56px;
  font-weight: bold;
  margin: 5vh;
  text-align: center;
}

#add-task {
  display: flex;
  align-items: center;
}

#task-input {
  background-color: var(--greyBG);
  border-radius: 5px;
  border-style: none;
  margin-left: 3vh;
  height: 34px;
  text-indent: 10px;
  width: 250px;
}

::placeholder {
  color: var(--white);
  font-weight: lighter;
  font-size: 15px;
  padding: 10px;
}

#add-task-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--greyBG);
  border-style: none;
  border-radius: 50%;
  color: var(--white);
  height: 40px;
  margin-left: 2vh;
  font-size: 30px;
  font-weight: bolder;
  padding: 10px;
  width: 40px;
}

#add-task-btn:hover {
  background-color: #a7a7a7;
}

#task-list-container {
  margin: 20px 0px;
}

.task-container {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.task {
  font-weight: lighter;
  align-self: center;
}

.task-buttons {
  display: flex;
  align-items: center;
}

.edit-button, .delete-button {
  background-color: var(--white);
  border-style: none;
  cursor: pointer;
  font-size: 20px;
  padding: 10px;
}

.edit-button {
  color: var(--yellow);
}

.delete-button {
  color: var(--red);
}

.concluded-input {
  border: solid 3px var(--green);
  cursor: pointer;
  height: 20px;
  width: 20px;
}

#task-manager {
  display: flex;
  justify-content: center;
}

#all-tasks-filter, #in-progress-filter, #completed-filter {
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  border-style: none;
  transition: 0.5s;
}

#all-tasks-filter {
  background-color: var(--white);
  border: 2px solid var(--blue);
  color: var(--blue);
}

#all-tasks-filter:hover {
  background-color: var(--blue);
  color: var(--white);
  transition: 0.5s;
}

#in-progress-filter {
  background-color: var(--white);
  border: 2px solid var(--yellow);
  color: var(--yellow);
}

#in-progress-filter:hover {
  background-color: var(--yellow);
  color: var(--white);
  transition: 0.5s;
}

#completed-filter {
  background-color: var(--white);
  border: 2px solid var(--green);
  color: var(--green);
}

#completed-filter:hover {
  background-color: var(--green);
  color: var(--white);
  transition: 0.5s;
}

footer {
  position: fixed;
  bottom: 0;
  color: grey;
  font-weight: lighter;
  left: 0;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
}
