button {
  border: 0px;
  padding: 5px;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  list-style: none;
}

.concluded-button, .edit-button, .delete-button {
  border-radius: 50%;
  margin: 5px;
  padding: 8px;
}

.concluded-button {
  background-color: #fff;
  border: 2px solid #35a700;
}

.edit-button {
  border: 2px solid #da9e03;
  background-color: #da9e03;
}

.delete-button {
  border: 2px solid #da0303;
  background-color: #da0303;
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-buttons {
  margin-right: 10%;
}
