@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
  margin: 0;
}

:root {
  --greyBG: #D2D1D1;
  --green: #35A700;
  --yellow: #DA9E03;
  --red: #DA0303;
  --white: #FFF;
}

.title {
  font-family: 'Roboto', sans-serif;
  font-size: 56px;
  font-weight: bold;
  margin: 5vh;
  text-align: center;
}

#add-task {
  display: flex;
  align-items: center;
}

#task-input {
  background-color: var(--greyBG);
  border-radius: 5px;
  border-style: none;
  margin-left: 3vh;
  height: 34px;
  text-indent: 10px;
  width: 250px;
}

::placeholder {
  color: var(--white);
  padding: 10px;
}

#add-task-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--greyBG);
  border-style: none;
  border-radius: 50%;
  color: var(--white);
  height: 40px;
  margin-left: 2vh;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: bolder;
  padding: 10px;
  width: 40px;
}

#task-list-container {
  margin: 20px 0px;
}

.task-container {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.task {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
}

.task-buttons {
  display: flex;
  align-items: center;
}

.edit-button, .delete-button {
  background-color: var(--white);
  border-style: none;
  cursor: pointer;
  font-size: 20px;
  padding: 10px;
}

.edit-button {
  color: var(--yellow);
}

.delete-button {
  color: var(--red);
}

.concluded-input {
  border: solid 3px var(--green);
  cursor: pointer;
  height: 20px;
  width: 20px;
}

/* button {
  border: 0px;
  padding: 5px;
  margin: 5px;
}

footer {
  bottom: 0;
  color: gray;
  font-size: 12px;
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  list-style: none;
}

input {
  background-color: rgb(231, 231, 231);
  border: none;
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
}

.concluded-button, .edit-button, .delete-button {
  border-radius: 50%;
  margin: 5px;
  padding: 8px;
}

.concluded-button {
  background-color: #fff;
  border: 2px solid #35a700;
}

.edit-button {
  border: 2px solid #da9e03;
  background-color: #da9e03;
}

.delete-button {
  border: 2px solid #da0303;
  background-color: #da0303;
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-buttons {
  margin-right: 10%;
} */
